@CHARSET "UTF-8";

body {
    background: #ffecc1;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgba(137, 43, 226, 0.8);
    background-image: url('../image/gradient.png');
    background-repeat: repeat-x;
    font-family: 'Proza Libre', sans-serif;   
}
h2 {
    color: rgba(137, 43, 226, 0.8);
    background-image: url('../image/gradient.png');
    background-repeat: repeat-x;
    font-family: 'Proza Libre', sans-serif;   
}


header>nav>ul>li>a {
    color: red;
}

header nav ul {
    list-style: none;
}

.byline {
    display: block;
    opacity: 0.5;
    font-size: 70%;
}

#useful-links>ul>li>a {
    color: blueviolet;
}

a {
    text-decoration: none;
}

ul,
ol {
    width: fit-content;
    margin: 0 auto;
}

ul {
    list-style-type: square;
}
/*
ul>*,
ol>* {
    text-align: left;
}
*/
#page-copyright {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.bio p {
    text-indent: 3em;
}

footer {
    text-align: center;
    font-size: 12px;
}

