@CHARSET "UTF-8";
body {
    background: #ffdd8d;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    background-image: url('../images/gradient.png');
    background-repeat: repeat-x;
    font-family: 'Proza Libre', sans-serif;
}

header>nav>ul>li>a {
    color: red;
}

header nav ul {
    list-style: none;
}

.byline {
    display: block;
    opacity: 0.5;
    font-size: 70%;
}

#useful-links>ul>li>a,
footer hr {
    color: blueviolet;
}

a {
    text-decoration: none;
}

ul,
ol {
    /* width: fit-content; */
    margin: 0 auto;
}

ul {
    list-style-type: square;
}

#page-copyright {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.bio p {
    text-indent: 3em;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2em;
}

header>nav>ul {
    margin: 0;
}


/*mian*/

main {
    margin-bottom: 6%;
}

main::after {
    content: '';
    display: block;
    clear: both;
}

main>.bio {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

main>.bio.width-100 {
    width: 100%;
}

.mugshot {
    position: relative;
}

main>.bio>.group::after {
    content: '';
    display: block;
    clear: both;
}

main>.bio>.group>.left {
    float: left;
    width: 70%;
}

main>.bio>.group>.mugshot {
    float: right;
    width: 200px;
    height: 120px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

main>.bio>.group>.mugshot>a>img {
    width: 100%;
    height: 100%;
}

main>.imgs {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    /* flex-direction: column; */
}

main>.imgs>a {
    /* flex: 1; */
    /* width: 25%; */
    margin-bottom: 2%;
}

main>.imgs>a>img {
    width: 100%;
}

.width-wrap {
    margin: 0 auto;
    max-width: 1024px;
    padding: 2em;
    margin-bottom: 3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #ffecc1;
}

figure {
    position: relative;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    float: right;
}

figure img {
    width: 80%;
}

footer hr {
    width: 50%;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid;
    border-bottom: 8px dotted;
}

h1,
h2 {
    background: linear-gradient(to bottom, rgb(182, 141, 221), rgb(94, 1, 180));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.paperclip {
    width: 50px;
    height: 50px;
    background: url(../images/paperclip.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: -10px;
    right: -7px;
}

header {
    /* width: calc(100% + 4em); */
    /* float: right; */
    border: 4px rgba(0, 0, 0, 0.1);
    border-top-style: solid;
    /* margin-right: -2em; */
}

header li {
    /* display: initial; */
    margin: 1em 3em;
}

header nav {
    /* float: right; */
    /* width: auto; */
    /* display: inline-block; */
    margin: -4px 2em 0;
    padding: 0 2em;
    border: 1px rgba(0, 0, 0, 0.3);
    border-bottom-style: solid;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav li {
    /* float: left; */
    padding: 1em 0 0.5em;
    margin: 0 1em;
}

header nav li:hover {
    margin-top: 0px;
    box-sizing: border-box;
    border-top-style: solid;
    border-width: 4px;
    border-color: fuchsia;
}

.back-to-top {
    font-size: 2.5em;
    opacity: 0.5;
    text-align: right;
    margin-right: 0.5em;
}

.back-to-top:hover {
    opacity: 1;
}

header nav .burger {
    display: none;
}

@media only screen and (max-width: 768px) {
    footer hr,
    .paperclip {
        display: none;
    }
    .mugshot {
        float: unset;
        table-layout: unset;
        margin-left: 0;
        margin-right: 0;
        letter-spacing: normal;
    }
    main {
        display: block;
    }
    header nav ul {
        display: block;
        direction: ltr;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }
    header nav ul li {
        transform: translate(-5%);
    }
    header nav ul li:hover {
        text-decoration: underline;
        border: none;
    }
    header nav .burger,
    header nav .burger::before,
    header nav .burger::after {
        content: "";
        display: block;
        margin: 0 auto;
        border-width: 5px;
        border-top-style: solid;
        border-color: lightcoral;
        margin: 5px 0;
        cursor: pointer;
    }
    header nav .burger {
        margin: 1em auto;
        width: 40px;
        height: 25px;
    }
}